<div class="headerNav container-fuild">
    <span class="iconfont icon-RectangleCopy hidden-md hidden-lg" id="rectangle"></span>
    <div class="logo">
        <a href="/"><img src="/images/logo@2x.png" alt=""></a>
      
    </div>
    <div class="nav-list">
        <ul>
          <li>
              <a href="/">
                  智慧首页
                  <br>
                  智慧首页
              </a>
          </li>
          <li>
              <a href="/product.html">
                  智能产品
                  <br>
                  智能产品
              </a>
          </li>
          <li>
              <a href="/plan.html">
                  解决方案
                  <br>
                  解决方案
              </a>
          </li>
          <li>
              <a href="/case.html">
                  成功案例
                  <br>
                  成功案例
              </a>
          </li>
          <li>
              <a href="/cooperate.html">
                  招商合作
                  <br>
                  招商合作
              </a>
          </li>
          <li>
              <a href="/about.html">
                  关于我们
                  <br>
                  关于我们
              </a>
          </li>
        </ul>
    </div>
</div>